* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fffcf7;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  font-size: 1em;
}

header {
  background-image: url(../img/1.png);
  background-color: #04151f;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-size: 16px;
  padding: 2em 0;
  overflow: hidden;
}
header .container .lang_picker {
  /* background-color: lightblue; */
  padding: 1em 0;
  text-align: center;
  font-size: 0.875em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .lang_picker .selected__language {
  text-decoration: none;
  color: inherit;
  margin-left: 0.5em;
}
header .container .nav {
  /* background-color: pink; */
  padding: 0.5em 0;
}
header .container .nav .nav__list {
  /* background-color: #add8e6; */
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .container .nav .nav__list li a {
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  font-size: 1.25em;
  text-align: center;
}
header .container .logo__container {
  font-size: 16px;
  text-align: center;
  margin: 6.25em 0;
}
header .container .logo__container img {
  width: 30%;
  min-width: 13em;
}
header .container .logo__container .logo__description h1,
header .container .logo__container .logo__description h2 {
  margin: 0;
  font-weight: 500;
}
header .container .logo__container .logo__description h1 {
  font-family: "Fjalla One", sans-serif;
  color: #ffffff;
  font-size: 4.7em;
}
header .container .logo__container .logo__description h2 {
  font-family: "Halant", serif;
  color: #04151f;
  font-size: 2.7em;
}

@media screen and (max-width: 1366px) {
  header .container .logo__container {
    margin: 5em 0;
  }
  header .container .logo__container .logo__description h1 {
    font-size: 4em;
  }
  header .container .logo__container .logo__description h2 {
    font-size: 2.4em;
  }
}
@media screen and (max-width: 455px) {
  header .container .logo__container {
    font-size: 12px;
  }
}
.main {
  font-size: 20px;
  /*-- About Us --*/
  /*-- Projects --*/
  /*-- Gallery --*/
  /*-- Contact Us --*/
}
.main .about__us {
  margin-top: 5em;
}
.main .about__us .about__us_image,
.main .about__us .about__us__text__container {
  -webkit-box-shadow: -2px 0px 15px 0px rgba(0, 97, 97, 0.2);
          box-shadow: -2px 0px 15px 0px rgba(0, 97, 97, 0.2);
}
.main .about__us .about__us_image {
  overflow: hidden;
}
.main .about__us .about__us_image img {
  width: 100%;
  vertical-align: top;
}
.main .about__us .about__us__text__container {
  background-color: #fffcf7;
  padding: 2em;
  margin: auto;
  position: relative;
  top: -2.5em;
  width: 90%;
}
.main .about__us .about__us__text__container p {
  line-height: 1em;
  margin: 1.5em 0px;
}
.main .our__projects {
  margin-top: 18em;
  background-color: #09814a;
}
.main .our__projects .container {
  position: relative;
  top: -12em;
  max-height: 800px;
}
.main .our__projects .container .our__projects__text__container {
  margin: 1.5em 0;
}
.main .our__projects .container .projects__slider {
  background-color: #fffcf7;
  -webkit-box-shadow: -2px 0px 15px 0px rgba(0, 97, 97, 0.2);
          box-shadow: -2px 0px 15px 0px rgba(0, 97, 97, 0.2);
  border-radius: 6px;
}
.main .our__projects .container .projects__slider .slider__image__container {
  overflow: hidden;
  height: 650px;
}
.main .our__projects .container .projects__slider .slider__image__container img {
  vertical-align: top;
}
.main .our__projects .container .projects__slider .slider__description__container {
  padding: 1.2em;
}
.main .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.main .gallery div {
  overflow: hidden;
  height: calc(width * 1);
}
.main .gallery div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  -webkit-transition: -webkit-filter, -webkit-transform ease 0.3s;
  transition: -webkit-filter, -webkit-transform ease 0.3s;
  transition: filter, transform ease 0.3s;
  transition: filter, transform ease 0.3s, -webkit-filter, -webkit-transform ease 0.3s;
}
.main .gallery div img:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.main .contact__us {
  margin-top: 5em;
}
.main .contact__us .container .cards__container {
  margin: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main .contact__us .container .cards__container .card {
  font-weight: 600;
  margin: 1.5em 0;
  width: 40%;
  text-align: center;
  padding: 2.5em 2em;
  background-color: #fffcf7;
  -webkit-box-shadow: -2px 0px 15px 0px rgba(0, 97, 97, 0.2);
          box-shadow: -2px 0px 15px 0px rgba(0, 97, 97, 0.2);
  -webkit-transition: background-color ease 0.3s;
  transition: background-color ease 0.3s;
}
.main .contact__us .container .cards__container .card i {
  font-size: 2em;
  margin-bottom: 0.3em;
  border: 2px solid #5995ed;
  padding: 0.2em;
  border-radius: 100px;
}
.main .contact__us .container .cards__container .card a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.main .contact__us .container .cards__container .card:hover {
  background-color: #04151f;
  color: #fffcf7;
}

.justify-text {
  text-align: justify;
}

.color__blue {
  color: #5995ed;
}

.title__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.title__container .title {
  margin-left: auto;
  margin-right: 0.2em;
  font-size: 2.5em;
  font-family: "Halant", serif;
}
.title__container .title > * {
  font-family: "Halant", serif;
}
.title__container .title__reverse__line {
  margin-right: auto;
  margin-left: 0.2em;
}
.title__container .title__line {
  -webkit-box-flex: 0.5;
      -ms-flex-positive: 0.5;
          flex-grow: 0.5;
  border: 1.5px solid #5995ed;
  background-color: #5995ed;
}

@media screen and (max-width: 1366px) {
  .main .about__us .about__us__text__container {
    top: -5em;
  }
}
@media screen and (max-width: 992px) {
  .main .gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .main .contact__us .container .cards__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .contact__us .container .cards__container .card {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .main .gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */